* {
  border: 1px solid pink;
} 
body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: blanchedalmond;
  color: rgb(24, 2, 19);
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a{
  background: greenyellow;
  flex-grow: 2;
}

.b{
  background: green;
  flex-grow: 4;
}

.c{
  background: rgb(5, 34, 5);
  flex-grow: 2;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100%;
  }

  .a{
    width: 100%;
  }
}
